body {
    font-family: "Inter", Arial, sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
}
.header {
    position: relative;
    padding: 30px 80px 40px 80px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    background-image: url("background_header.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }
  .logo {
    position: relative;  
    left: -50px;
  }
  .logo img {
    height: 39px;
    width: 105px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: "Inter" Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 183px;
  }
  .nav-links{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    column-gap: 20px;

  }
  .header-title {
    max-width: 709px;
    margin-bottom: 28px;
  }
  .span-accent {
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #FF976B;
    display: block;
  }
  .header-title {
    font-family: "Inter" Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 72px;
    letter-spacing: -1px;
    margin: 0;
  }
  .header-description {
    max-width: 683px;
    font-family: "Inter" Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
  .header-image {
    position: absolute;
    top: 124px;
    right: 5px;
    max-width: 709px;
    display: flex;
    justify-content: center;
    height: 568px;
    width: 646px;
  }
  
  .header-info {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
    font-size: 14px;
    color: #777;    
  }
  .info-text{
    margin: 0;
  }
  