body{
    font-family: "Inter", Arial, sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
}
.header {
    position: relative;
    padding: 30px 80px 40px 80px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    background-image: url('../images/background_header.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }
  .logo {
    position: relative;
    left: -50px;
  }
  .logo img {
    height: 39px;
    width: 105px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: "Inter" Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 183px;
  }
  .nav-links{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    column-gap: 20px;
    }
    .nav-links:hover{
     color: #FF976B;
    }
  .header-title {
    max-width: 709px;
    margin-bottom: 28px;
  }
  .span-accent {
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #FF976B;
    display: block;
  }
  .header-title {
    font-family: "Inter" Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 72px;
    letter-spacing: -1px;
    margin: 0;
  }
  .header-description {
    max-width: 683px;
    font-family: "Inter" Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
  .header-image {
    position: absolute;
    top: 124px;
    right: 5px;
    max-width: 709px;
    display: flex;
    justify-content: center;
    height: 568px;
    width: 646px;
  }

  .header-info {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
    font-size: 14px;
    color: #777;
  }
  .info-text{
    margin: 0;
  }
  main{
    background-color: #FFD6C5;
    background-image: url(../images/background_reservation.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  }
  .reservation__title{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 80px;
    margin: 0 auto;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
  }
  form{
    margin: 0 auto;
    max-width: 385px;
  }
  .form__fieldset{
    margin: 0 auto;
    text-align: left;
    border-color: transparent;
  }
.form__label{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 32px;
}
.form__checkbox{
  size: 20px 20px;
  border-radius: 2px;
}
.form__input{
  box-sizing: border-box;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border-radius: 4px;
  height: 60px;
  padding: 15px;
  border-color: #838383;
}
.form__button{
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  background-color: #E96E3A;
  color: white;
  border-color: transparent;
  cursor: pointer;
}
.form__button:hover{
  opacity: 0.7;
}
.form__label_type_checkbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 12px;
  border-color: #4F4F4F;
}
.footer{
  margin: 0;
  background-color: #D35722;
  padding: 60px 80px;
  position: relative;
  color: #fff;
  overflow: hidden;
}
.footer-container{
  position: relative;
  display: flex;
  z-index: 2;
}
.footer-media-links{
  list-style-type: none;
  font-family: “Inter”;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.footer-media-link{
  text-decoration: none;
  color: #fff;
}
.footer-media-container-title{
  font-family: “Inter”;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.footer-copyright{
  font-family: “Inter”;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  z-index: 2;
}
.footer-logo{
  display: flex;
  flex-direction: row;
}
.footer-circle{
  position: absolute;
  top: -128px;
  left: -14px;
  height: 340px;
  width: 340px;
  border-radius: 100%;
  background-color: #E96E3A;
  z-index: 1;
}